body {
  background-color: rgb(139, 206, 247);
  font-family: 'Roboto', sans-serif;
  display:flex;
  justify-content: center;
}

a {
  color: rgb(135, 93, 240);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 20px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 15px;
  width: 80%;
  padding: 15px 20px;
  font-size: 14px;
}

.search-form-button {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(135, 93, 240);
  margin-left: 5px;
  color: white;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
margin-bottom: 20px;

   background: #f9f7fe;
  border-radius: 8px;
  padding: 16px;
 
 
}

.weather-app-city {
  margin: 0 10px 10px 0;
  font-size: 38px;
  line-height: 42px;
}

.weather-app-detail {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-detail strong {
  color: rgb(135, 93, 240);
}
.weathe-app-temperature-container{ display: flex;}
.weather-app-temperature { font-size: 60px;
margin-left: 10px;
font-weight: bold;
  color: rgb(135, 93, 240);}

.weather-app-unit{margin-top: 16px;
    color: rgb(135, 93, 240);
font-size: 28px;}


main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}



  .weather-app {
    margin: 20px;
    padding: 20px;
  }

  .weather-app-city {   color: rgb(135, 93, 240);
    font-size: 30px;
  }



  .weather-app-icon {size: 100px;

    
    
  }


.weather-forecast{ display:flex;
  flex-wrap: wrap;
justify-content: center; gap:  30px ;}

.weather-forecast-date{ text-align: center;
color: rgba(39,33,66,0.4);
font-size: 16px;
line-height: 20px;
margin-bottom: 0 auto 10px;}

.weather-forecast-icon{ width: 48px;
height: 48;
margin-bottom: 10px;}

.weather-forecast-temperatures{
text-align: center;
color:  rgb(135, 93, 240);
 display: flex;
justify-content: center;
gap: 8px;
 padding: 0 5px;}

.weather-forecast-day {
  background: #f9f7fe;
  border-radius: 8px;
  padding: 15px;
  width:50px; 
  text-align: center;
  flex-shrink: 0;
}